# ignore venv
venv
```
# ignore instance
instance
```

# ignore .DS_Store
.DS_Store
```

# ignore compiled python files
__pycache__/
*.pyc

# Ignore temporary files
*.tmp
*.log

# ignore .env
.env
.env.cloud
```

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore flask cache
__pycache__/

# Ignore flask_session
flask_session/

# Ignore Google Api Key
flawless-snow-443501-q3-85e4441a1dd7.json
key.json

cloud-sql-proxy