bcrypt==4.0.1
click==8.1.7
coverage==7.2.7
Faker==20.1.0
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.2
Flask-OAuthlib==0.9.6
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Session==0.5.0
Flask-SQLAlchemy==3.0.3
gensim==4.3.2
gunicorn==21.2.0
itsdangerous==2.0.1
NumPy==1.24.3
Pandas==1.5.3
Pillow==9.2.0
psycopg2-binary==2.9.6
pytest==7.4.3
pytest-cov==4.1.0
python-dotenv==0.21.1
sklearn==0.0
SQLAlchemy==2.0.12
waitress==2.1.2
Werkzeug==2.2.2
WTForms==3.0.1